* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* border: 1px solid red; */
}
.invisible {
  visibility: hidden;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
img {
  max-width: 8vw;
  width: 100%;
  max-height: 90%;
  height: 100%;
  object-fit: contain;
}
body {
  font-family: "Poppins", sans-serif;
  /* linear-gradient(rgba(0, 0, 0, 0.6), hwb(0 0% 100%)), */
  background: url(images/1920x1080hapoweenCOMPRESSED.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  background-color: rgb(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
}
.header {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: end;
}
.span-results {
  font-family: inherit;
  margin-right: 2%;
  font-size: 16px;
  background: transparent;
  color: #d0d0d0;
}
.results__list {
  display: flex;
  flex-wrap: wrap;
  font-size: 10px;
  margin: 0.5vh;
  align-items: center;
}
.results__list_item {
  display: flex;
  justify-content: center;
  padding: 2px;
  margin-right: 0.5vw;
  margin-top: 0.5vh;
  width: 4em;
  height: 2em;
  border: 0px;
  background: transparent;
  border-radius: 3px;
  color: #d0d0d0;
  box-shadow: 0 0 2px 0 rgb(255 255 255);
  font-size: 12px;
}
.main {
  margin: 0 0 10vh 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-grow: 1;
}
.container {
  display: flex;
  align-items: baseline;
  width: 90%;
  justify-content: space-between;
}
.time__wrapper {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
}
.time {
  display: flex;
  font-family: inherit;
  margin: 20px 0;
  font-size: 18px;
  padding: 5px 15px;
  border: 0px;
  background: transparent;
  border-radius: 3px;
  color: #d0d0d0;
  box-shadow: 0 0 2px 0 rgb(255 255 255);
}
.start-button {
  font-family: inherit;
  margin: 20px 0;
  font-size: 18px;
  padding: 5px 15px;
  border: 0px;
  background: transparent;
  border-radius: 3px;
  color: #d0d0d0;
  box-shadow: 0 0 2px 0 rgb(255 255 255);
  cursor: pointer;
}
.start-button:hover {
  transform: scale(1.05);
  transition: transform 0.05s ease-in-out;
}
.start-button:active {
  transform: scale(1);
  transition: transform 0.05s ease-in-out;
}
.hits-count__wrapper_outer {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.hits-count__wrapper {
  display: flex;
  font-family: inherit;
  margin: 20px 0;
  font-size: 18px;
  padding: 5px 15px;
  border: 0px;
  background: transparent;
  border-radius: 3px;
  color: #d0d0d0;
  box-shadow: 0 0 2px 0 rgb(255 255 255);
}
.playfield__wrapper {
  position: relative;
  max-width: 98%;
  /* margin-right: 1%; */
  width: 100%;
  flex-grow: 1;
  height: 100%;
}
.playfield {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  /* min-height: 60vh; */
  /*for square! old method and new method*/
  /* padding-bottom: 100%; */
  /* aspect-ratio: 1/1; */
  background-image: url(images/1920x1080hapoweenCOMPRESSED.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /* border: gold solid 1px; */
  cursor: url(icons/crosshair.svg) 10 10, auto;
  border-radius: 10px;
  visibility: visible;
}

.ghost__container {
  position: relative;
  width: 100%;
  /* border: 1px solid red; */
}
.ghost {
  position: absolute;
  user-select: none;
  height: fit-content;
  width: fit-content;
}
.ghost--activ {
  visibility: visible;
}
.playfield-two {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
  background-image: url(images/1920x1080hapoweenCOMPRESSED.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*for square! old method and new method*/
  /* padding-bottom: 100%; */
  /* aspect-ratio: 1/1; */
  /* border: gold solid 1px; */
  /* visibility: visible; */
}
.circle {
  position: absolute;
  background: gold;
  background: url();
}
.footer {
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  max-width: 80%;
  width: 100%;
  flex-wrap: wrap;
}

.rs-logo {
  margin-top: 5px;
  max-width: 50px;
  width: 100%;
  filter: drop-shadow(0px -1px 0px #000);
}
.year {
  font-size: 14px;
  margin-right: 15px;
  color: #fff;
  filter: drop-shadow(0px -0.5px 0px #000);
}
.my-name {
  font-weight: 600;
  color: #fff;
  filter: drop-shadow(0px -0.5px 0px #000);
}
@media (max-width: 480px) {
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rs-logo {
    margin: 0 auto;
  }
  .footer {
    justify-content: center;
    flex-direction: column;
  }
  .year {
    margin-right: 0;
  }
}
